{% extends 'base.html' %}

{% block content %}


    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <h1 class="masthead-subheading">WELCOME TO THE ULTRAVERSE!</h1>
            <h4 class="masthead-heading text-uppercase">EXPERIENCE MOVIES TO THE FULLEST</h2>
            <br>
            <a href="{% url 'register' %}" class="join"><button class="button is-medium">JOIN</button></a>
            <a href="#about" class="join"><button class="button is-medium">ABOUT</button></a>
        </div>
    </header>

    <div class="box">
        <div class="container">
            <div class="row">
                <div id="about" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center"> 
                        <i class="fas fa-camera"></i>
                        <div class="title">
                            <h3>Watch Parties</h3>
                        </div>
                        <div class="text"> <span>Join people around the world and watch amazing movies</span>  </div> <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center"> <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                        <div class="title">
                            <h3>Superyoga</h3>
                        </div>
                        <div class="text"> <span>Take a break from watching and stretch into some super hero yoga poses</span> </div> <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center"> <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                        <div class="title">
                            <h3>Movie Map</h3>
                        </div>
                        <div class="text"> <span>Find the movies filmed in Georgia and see their deleted scences, film scenes, and comment to interact with others</span> </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Team-->
     <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <br>
                <h1>Our Amazing Team</h1>
               <br>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="team-member">
                        <a href="https://www.linkedin.com/in/carrielu02/"><img class="mx-auto rounded-circle" src="/static/images/spidermanIcon.png" alt="Spiderman Icon" /></a>
                        <h4>Carrie Lu</h4>
                        <p class="text-muted">Frontend and Azure Maps</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <a href="https://www.linkedin.com/in/zaina-shawar/"><img class="mx-auto rounded-circle" src="/static/images/ironmanIcon.png" alt="IronMan Icon" /></a>
                        <h4>Zaina Shawar</h4>
                        <p class="text-muted">Frontend and ML</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <a href="https://www.linkedin.com/in/cassjs/
                        "><img class="mx-auto rounded-circle" src="static/images/loki.png" alt="Loki Icon" /></a>
                        <h4>Jessica Cassidy</h4>
                        <p class="text-muted">Backend and Azure</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <a href="https://www.linkedin.com/in/mansi-saini26/"><img class="mx-auto rounded-circle" src="/static/images/grootIcon.png" alt="..." /></a>
                        <h4>Mansi Saini</h4>
                        <p class="text-muted">Frontend and ML</p>
                    </div>
                </div>
                <div class=centerButton>
                    <a href="{% url 'register' %}" class="backTop"><button id="backTop2" class="button is-medium">Join</button></a>
                </div>
            </div>
            
        </div>
    </section>
    <div class="carousel-item active">
        <img class="d-block w-100 landingpageLogo" src="/static/images/ultraverse-logo.png" alt="First slide">
      </div>

    
    
{% endblock %}