/* Using whitenoise dependency to serve static files in prod w/ Django app
(source: http://whitenoise.evans.io/en/stable/)
If updates made to static files, use CMD '$ python manage.py collectstatic'
to overwrite the staticfiles directory located in main directory */

/* Nav Bar Styling */
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
/* End Nav Bar Styling */

/* Login Page Styling */
.loginContainer {
position: relative;
  /* margin: auto;
  overflow: hidden; */
  width: 520px;
  height: 350px;
  background: white;
  box-shadow: 5px 5px 15px rgba(#0b3f72, 1);
  border-radius: 10px;
}
/* End Login Page Styling */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("") top center;
    background-size: cover;
    position: relative;
    padding: 0;
  }

