/* Using whitenoise dependency to serve static files in prod w/ Django app
(source: http://whitenoise.evans.io/en/stable/)
If updates made to static files, use CMD '$ python manage.py collectstatic'
to overwrite the staticfiles directory located in main directory */

body {
  background-color: #97aabd;
  margin: 0;
}
.loginBackground {
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #1e2639;
  width: 100%;
  height: 100%;
}

body {
  background-color: #951e22;
  margin: 0;
  font-family: "Segoe UI";
}

html {
  scroll-behavior: smooth;
}

/* Nav Bar Styling */
ul {
  margin: 0;
  padding: 0;
}

nav {
  display: inline-block;
}

.nav_elements {
  text-decoration: none;
}

.nav-link {
  padding: 0.5rem 0rem;
}

#logo {
  width: 175px;
}

/* Nav toggle button */
#toggle {
  border-color: #f8f9fa;
}

#toggle:active {
  border-color: #f8f9fa;
}
/* Nav toggle button */

/* End Nav Bar Styling */

/* Login Page Styling */
.loginContainer {
  position: relative;
  /* margin: auto;
  overflow: hidden; */
  width: 520px;
  height: 350px;
  background: white;
  box-shadow: 5px 5px 15px rgba(#0b3f72, 1);
}
.modal-body {
  display: flex;
  padding: 0;
  border-radius: 4rem;
  font-family: "PT Sans", sans-serif;
  box-shadow: 5px 5px 5px #fff58c;
}

.modal-content {
  border-radius: 4rem;
  width: 140%;
  box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
}
.modal-content h1,
.modal-content h2,
.modal-content h3 {
  text-align: center;
}
.modal-content h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.modal-content h2 {
  font-size: 1.1em;
}
.modal-content h3 {
  font-size: 0.8em;
  letter-spacing: 2px;
}
form {
  font-size: 0.8em;
}
.column {
  flex: 60%;
  padding: 10px;
}

.column#main {
  font-family: "Segoe UI";
  flex: 75%;
  padding: 50px;
  margin-top: 30px;
  margin-left: 15px;
}

#secondary {
  font-family: "Segoe UI";
  background-color: #951e22;
  border-radius: 0 4rem 4rem 0;
  text-align: center;
  width: 900px;
}

#secondary2 {
  background-color: #951e22;
  border-radius: 4rem 0rem 0rem 4rem;
  text-align: center;
  width: 900px;
}

#main .form-control {
  border-radius: 10px;
  font-size: 0.9em;
}

.form-group {
  margin-top: 15px;
}
.btn {
  text-transform: uppercase;
  border-radius: 0.15rem;
  width: 200px;
  padding: 0.15rem 0.75rem;
  margin: 30px auto;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 2px;
}

.btn-primary {
  font-family: "Segoe UI";
  border-color: rgba(255, 255, 255, 0);
  background-color: #951e22;
}

.btn-primary:hover {
  border-color: 1px solid rgba(255, 255, 255, 0);
  background-color: #fcf18ce8;
  color: black;
}

#main .btn-primary {
  width: 100%;
  border-radius: 10px;
}
#secondary .btn-primary {
  background: #f8f9fa4f;
  color: #000;
  border-radius: 10px;
}

#secondary .btn-primary:hover {
  background: #fcf18ce8;
  color: #000;
  border-radius: 10px;
}

#secondary2 .btn-primary {
  background: #f8f9fa4f;
  color: #000;
  border-radius: 10px;
}

#secondary2 .btn-primary:hover {
  background: #fcf18ce8;
  color: #000;
  border-radius: 10px;
}

.modal-body label {
  margin-bottom: 0;
}

div .modal-dialog {
  display: flex;
  justify-content: center;
}

.sec-content {
  margin-top: 35%;
  color: white;
}
.sec-content img {
  width: 90%;
  height: 90%;
  margin-bottom: 10%;
}
/* End Login Page Styling */

/*--------------------------------------------------------------
# mapIntro Section
--------------------------------------------------------------*/
#mapIntro {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../static/images/map-bg.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
#mapIntro:before {
  content: "";
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#mapIntro .container {
  padding-top: 110px;
}
@media (max-width: 992px) {
  #mapIntro .container {
    padding-top: 98px;
  }
}
#mapIntro h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#mapIntro h1 span {
  color: #c72523;
}
#mapIntro h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 22px;
}
#mapIntro .btns {
  margin-top: 30px;
}
#mapIntro .btn-menu,
#mapIntro .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid #c72523;
}
#mapIntro .btn-menu:hover,
#mapIntro .btn-book:hover {
  background: #c72523;
  color: #fff;
}
#mapIntro .btn-book {
  margin-left: 15px;
}
#mapIntro .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#c72523 50%, rgba(185, 61, 61, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}
#mapIntro .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#mapIntro .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(199, 37, 35, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
#mapIntro .play-btn:hover::after {
  border-left: 15px solid #c72523;
  transform: scale(20);
}
#mapIntro .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
@media (min-width: 1024px) {
  #mapIntro {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #mapIntro .play-btn {
    margin-top: 30px;
  }
}
@media (max-height: 500px) {
  #mapIntro {
    height: auto;
  }
  #mapIntro .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  #mapIntro h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #mapIntro h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Azure Map
--------------------------------------------------------------*/
.azuremap {
  position: relative;
  padding: 80px 0;
}
.azuremap:before {
  content: "";
  background: rgba(149, 30, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.azuremap-container {
  display: flex;
  justify-content: center;
}

.azuremap .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.azuremap .content ul {
  list-style: none;
  padding: 0;
}
.azuremap .content ul li {
  padding-bottom: 10px;
}
.azuremap .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #c72523;
}
.azuremap .content p:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .azuremap {
    background-attachment: fixed;
  }
}

#myMap {
  height: 80vh;
  width: 80vw;
}

#UpdateBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

/*--------------------------------------------------------------
# Spiderman: No Way home
--------------------------------------------------------------*/
.spiderman {
  position: relative;
  padding: 80px 0;
  background: rgba(199, 37, 35, 0.8);
}

.comments .card {
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px
}

.comments img {
    border-radius: 10px;
    padding-right: 5px;
    width: 60px;
    height: 55px
}

.comments img:hover {
    cursor: pointer
}

.comments .round .align-self-start {
    border-radius: 100%;
    width: 45px;
    height: 40px
}

.comments .media .comment {
    background: #F4F4F4;
    border: none;
    border-radius: 10px
}

.comments h6.user {
    color: #5C5C5C;
    font-size: 15px !important;
    padding-left: 15px !important;
    margin-bottom: 0
}

.comments h6.user:hover {
    cursor: pointer;
    text-decoration: underline
}

.comments p.text {
    margin-bottom: 0;
    color: #8A8A8A !important;
    font-size: 14px
}

.comments .ml-auto {
    margin-right: 10px
}

.comments p .reply {
    color: #5C5C5C;
    font-size: 15px
}

@media screen and (min-width: 576px) {
    .comment {
        width: 470px !important
    }
}
/* Start of events styling */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.events {
  background-color: #951e22;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding-bottom: 3rem;
}
.isfull img {
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3));
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.is-one-quarter:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.event .column {
  color: white;
  font-weight: 800;
  font-size: 30px;
}
.last {
  margin-top: 6.5rem;
}
.featured_wrapper {
  position: relative;
}

.featured_wrapper img {
  width: 100%;
  width: 100%;
  height: 480px;
  opacity: 0.5;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.title_wrapper {
  position: absolute;
  width: 100%;
  left: 2rem;
  bottom: 2rem;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.title_wrapper h1 {
  width: 70%;
}
.top button {
  background: #4d8ab5;
  color: black;
  font-size: 18px;
  padding: 0.5rem 3rem;
  outline: none;
  border: 0 !important;
}
.top button:hover {
  background: #68aad9;
}
.top a {
  text-decoration: none;
}

#backTop {
  background: #4d8ab5;
  color: black;
  font-size: 18px;
  padding: 0.5rem 3rem;
  outline: none;
  border: 0 !important;
}
#backTop:hover {
  background: #68aad9;
}

.backTop:hover {
  text-decoration: none;
}
@media (max-width: 768px) {
  .title_wrapper {
    text-align: center;
    left: 0;
  }
  .title_wrapper h1 {
    font-size: 32px !important;
    width: 100%;
  }
  .container {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .column.is-one-quarter {
    width: 100%;
    margin-bottom: 7rem;
  }
}

div .column.is-one-quarter {
  margin-bottom: 45px;
}

.has-text-white {
  font-size: 25px;
}

.is-one-quarter h1 {
  font-size: 20px;
  color: #ede263;
  position: relative;
  font-weight: 600;
}

.is-one-quarter p {
  font-size: 15px;
  color: white;
  position: relative;
  font-weight: 300;
}

/* End of events styling */

/* Start Superyoga styling */

.start-btn {
  background-color: initial;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 800;
  min-height: 55px;
  padding: 0px 50px;
  position: relative;
}

.start-btn:before,
.start-btn:after {
  border-radius: 80px;
}

.start-btn:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.start-btn:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.start-btn:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.start-btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.start-btn:active:not(:disabled) {
  color: #ccc;
}

.start-btn:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.start-btn:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.start-btn:disabled {
  cursor: default;
  opacity: 0.24;
}

.super-title {
  font-size: 25px;
  color: white;
  font-family: "Segoe UI";
}

.super_title_wrapper {
  top: 10rem;
  width: 100%;
  left: 2rem;
  bottom: 2rem;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.super_title_wrapper h1 {
  width: 70%;
  padding-bottom: 10px;
}

/* Modal Styling */

.super-modal {
  font-family: "Segoe UI", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.directions {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}

#super-icon {
  width: 82px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 40px;
  font-size: 18px;
}
button.accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

/* ML model styling */

#canvas {
  position: absolute;
  top: 25rem;
  left: 2rem;
  padding: 20px 40px;
  height: 20rem;
}

#label-container {
  position: absolute;
  top: 30rem;
  left: 25rem;
  padding: 20px 40px;
  font-family: "Segoe UI";
  color: white;
}

/* End ML model styling */
/* End super yoga styling */

/* Start of landing page */
header .masthead {
  padding-top: 17rem;
  padding-bottom: 12rem;
}

header.masthead {
  padding-top: 16.5rem;
  padding-bottom: 12rem;
  text-align: center;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5)),
    url("images/citybackdrop.png") top center;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.join button {
  background: #4d8ab5;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5rem 3rem;
  outline: none;
  border: 0 !important;
  margin-right: 10px;
  border-radius: 10px;
  width: 150px;
}
.join button:hover {
  background: #68aad9;
}
.join a {
  text-decoration: none;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #f0ffff;
  padding: 60px 10px;
  margin: 30px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.box-part:hover {
  background: #000000;
}

.box-part:hover .fa,
.box-part:hover .title,
.box-part:hover .text,
.box-part:hover a {
  color: #fff;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #00bfff;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}

/* end of landing page */


/* create event styling */
header .masthead2 {
  padding-top: 17rem;
  padding-bottom: 12rem;
  
}

header.masthead2 {
padding-top: 16.5rem;
padding-bottom: 12rem;
text-align: center;
color: #fff;
background: linear-gradient(rgba(255, 116, 116, 0.65), rgba(0, 0, 0, 0.5)),
  url("images/groot.jpg") top center;
background-color: black;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
}

.descriptionForm {
  border-radius: 10px;
}
/* create event end of styling */

